
<div id="app">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">
            <div class="tab-content-details shadow-reset" style="padding-left:15px;">
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>活动管理</el-breadcrumb-item>
                    <el-breadcrumb-item>活动列表</el-breadcrumb-item>
                    <el-breadcrumb-item>活动详情</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:15px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tab-content-details shadow-reset">
                <h2>Custom Animate Tab Bootstrap</h2>
                <p>
                    These are the Custom Animate Tab Bootstrap. Using animate bounce, flash, pulse, rubberBand, shake, swing, tada, wobble, jello, bounceIn, bounceInDown, bounceInLeft, bounceInRight, bounceInUp, fadeIn, fadeInDown, fadeInDownBig,
                    fadeInLeft, fadeInLeftBig, fadeInRight, fadeInRightBig, fadeInUp, fadeInUpBig, flipInX, flipInY, lightSpeedIn, rotateIn, rotateInDownLeft, rotateInDownRight, rotateInUpLeft, rotateInUpRight, rollIn, zoomIn, zoomInDown,
                    zoomInLeft, zoomInRight, zoomInUp etc.
                </p>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script>

        var app = new Vue({
            el: '#app',
            data: {},
            methods: {

            }
        });

    </script>
}
